@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --page-color:#e2e8f0;
    --menu-color:#1992d4;
    --menu-color-light:#6ec7f7;
    --box-shadow:5px 5px 5px 0px rgba(0,0,0,0.3);
    --box-radius:12px;
}

html, body{
    width: 100%;
    height: 100%;
    margin:0px;
}

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 20em 1fr;
    user-select: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a::after{
    text-decoration: none;
}

/* FONT CLASSES*/

.txt-small{
    font-size: 0.75em;
}

.txt-medium{
    font-size:1.2em;
}

.txt-large{
    font-size: 1.75em;
}

.txt-black{
    color:black;
}

.txt-grey{
    color:grey;
}

#menu
{
    display: flex;
    align-items: flex-start;
    background-color: var(--menu-color);
    color:white;
    font-size: 1.2em;
    padding-top: 1em;
    z-index: 2;
}

#menulist{
    justify-content: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 1em;
}

#menulist a{
    display: grid;
    grid-template-columns: 75px 1fr;
}

.menutitle{
    font-size: 1.4em;
}

#menulist img{
    justify-self: center;
}

#page{
    display: grid;
    grid-template-rows: 200px 1fr;
    min-width: 1200px;
}

#pagetop{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    z-index: 1;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    gap: 0em 2em;
    padding: 1em;
}

#search
{
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#searchbar{
    background-color: var(--page-color);
    border-radius: 14px;
    height: 24px;
    width: 100%;
    border:none;
    margin-left: 1em;
    margin-right: 1em;
}

#topbuttons{
    grid-row-start: 2;
    grid-column-start: 3;
}

#topright, #topright a{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

#username{
    display: grid;
    grid-template: 20px 1fr/50px 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

#username *:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 3;
}

#topbuttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    justify-content: space-around;
    padding-right: 2em;
}

.bluebtn{
    color:white;
    background-color: var(--menu-color);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border:none;
    font-weight: bold;
}

.bluebtn:hover{
    background-color: var(--menu-color-light);
}

#pagebottom{
    background-color: var(--page-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#pagebottom .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(3,min-content);
    gap:2em;
    padding: 1em;
}

#pagebottom .left .projects{
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: flex-end;
}

#pagebottom .left .project{
    background-color: white;
    border-radius: var(--box-radius);
    overflow: hidden;
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 40px 80px 1fr;
    box-shadow: var(--box-shadow);
}

#pagebottom .left .project .bar{
    background-color: orange;
    height: 100%;
    width: 10px;
    grid-row-start: 1;
    grid-row-end: -1;
}

#pagebottom .left .project .title{
    align-self: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    font-weight: bold;
}

#pagebottom .left .project .content{
    align-self: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.9em;
    color: grey;
}

#pagebottom .left .project .icons{
    justify-self: flex-end;
    padding-right: 20px;
    display: flex;
    gap:1em;
    flex-direction: row;
}

#pagebottom .right{
    display: grid;
    grid-template-rows: 80px min-content 80px min-content;
    margin-right: 1em;
    padding: 1em;
}

#pagebottom .right .announcements{
    align-self: flex-end;
}

#pagebottom .right .announcements_box
{
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    padding: 2em;
}

#pagebottom .right .announcements_box .announcement{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#pagebottom .right .announcements_box .announcement:not(:last-child){
    border-bottom: 1px solid grey;
}

#pagebottom .right .announcements_box .announcement .title{
    font-size: 0.9em;
}

#pagebottom .right .announcements_box .announcement .content{
    font-size: 0.8em;
    color: grey;
}

#pagebottom .right .trending{
    align-self: flex-end;
}

#pagebottom .right .accounts{
    box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
}